@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

header{
    background-color: rgb(164, 114, 252);
    color: rgb(238, 231, 255);
    text-align: center;
    margin-top: -25px;
    padding-left: 300px;
}

body{
    /* background-color: rgb(238, 231, 255); */
    background-color: white;
    color: rgb(164, 114, 252);
}

nav{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: rgb(238, 231, 255);
    width: 300px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}

table {
    margin-left: 320px;
    width: auto;
    font-size: large;
    text-align: center;
}

td, th {
    padding: 10px;
}

footer{
    background-color: rgb(164, 114, 252);
    color: rgb(238, 231, 255);
    text-align: left;
    margin-bottom: -18px;
    margin-left: -8px;
    margin-right: -8px;
}

.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}

.logo img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}

.logo span{
    font-weight: bold;
    /* padding-left: 10px; */
    font-size: 35px;
    text-transform: uppercase;
}

a{
    position: relative;
    color: rgb(164, 114, 252);
    /* color: black; */
    font-size: 16px;
    display: table;
    width: 300px;
    padding: 10px;
}

.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.dropdown {
    overflow: hidden;
    top: 12px;
    margin-left: 10px;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    top: 12px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logout{
    position: absolute;
    bottom: 0;
    display: table-row;
}

.content{
    color: black;
    text-align: left;
    padding-left: 350px;
    padding-right: 20px;
}

.wrap-collabsible {
    margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    background-color: rgb(164, 114, 252);
    color: rgb(238, 231, 255);

    cursor: pointer;

    border-radius: 15px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: white    
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);

    transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgb(238, 231, 255);
    border-bottom: 1px solid rgb(164, 114, 252);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: .5rem 1rem;
}

.bottomdiv {
    background-color: rgb(164, 114, 252);
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 300px;
    height: 225px;
}

.form-submit-button{
    background-color: rgb(211, 201, 233);
    color: black;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.form-border{
    color: black;
    border: 1px solid;
    border-color: white;
    height: 40px;
    width: 300px;
    padding: 5px 10px;
    margin: 8px 0;
}

.custom-select {
    position: relative;
    border: 1px solid;
    border-color: black;
    width: 80px;
}