<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8"/>
        <title>SoundCheck Contact</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='soundCheckLogo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='loginStyle.css') }}">
    </head>

    <body>
       <div style="height: 550px; width: 550px;" class ="whitebox">
            <h1 style="font-weight: bold;"><br><br><br><br><br><br>Email: support@soundCheck.com<br><br></h1>

            <a href="soundCheck">
                <span><br>Return back to Home</span>
            </a>
       </div>

    </body>

</html>